<!DOCTYPE html>
<html>
  <head>
    <title>Quickify.online</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <span class='logo'>
      <% if (qr_value != 'logo.png') { %>
        <img src="/images/bee.png" width='100' heigth='100' />
      <% } %>
      <span class='logo0'>Ǫ̈uickify.</span><span class='logo1'>ṏnline</span>
    </span><br/>
    <img src="/images/<%= qr_value %>" width='200' heigth='200' />
  </body>
</html>
